@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,greek,greek-ext,cyrillic,cyrillic-ext,latin-ext,vietnamese);


body {
	
	background-image: url("bg.jpg");
	font-size: 18px;
	font-family: "Open Sans";
	color: #444444;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
}
